.main-container {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 100%;
    padding: 1.675em;
    gap: 3em;
}

.grid-container, .grid-item {
    border: 1px solid black;
    border-collapse: collapse;
}

.grid-container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);

    background-color: blueviolet;
    box-sizing: border-box;
    width: 640px;
    height: 480px;
    padding: 1em;
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
    font-size:xxx-large
}

.grid-item:hover {
    cursor:pointer;
}

.grid-item[data-mark|="X"] {
    background-color: blue;
    color: white;
    cursor: not-allowed;
}

.grid-item[data-mark|="O"] {
    background-color: red;
    color: white;
    cursor: not-allowed;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.player {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2em;
}

.player-name, .player-score {
    font-size: 1.675rem;
    font-weight: bold;
}

.player-score {
    font-weight: normal;
}

.player-score {
    color: black;
}

.btn {
    cursor: pointer;
}
.dialog-close {
    position: absolute;
    top: 0;
    right: 0;
}

.buttons {
    margin-top: 75%;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 2em;
}

dialog#playerSetup, dialog#victoryModal {
    width: 480px;
    height:240px;
}

dialog#victoryModal .dialog-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
}

div.dialog-choices {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 2em;
}